<% layout('layouts/boilerplate') %>

    <div class="row d-flex justify-content-center  mt-5">
        <div class="col-md-4">
            <div class="card shadow customCard">
                <h2 class="text-center card-title mt-3">Login</h2>
                <div class="card-body">
                    <form action="/login" method="POST" class="validated-form" novalidate>
                        <div class="mb-3 position-relative">
                            <label for="lgUsername" class="form-label">User name:</label>
                            <input type="text" class="form-control" name="username" id="lgUsername" placeholder="user name" autofocus required>
                            <div class="invalid-tooltip customTooltip">
                                User name is required.
                            </div>
                        </div>
                        <div class="mb-3 position-relative">
                            <label for="lgPassword" class="form-label">Password:</label>
                            <input type="password" class="form-control" name="password" id="lgPassword" placeholder="password" required>
                            <div class="invalid-tooltip customTooltip">
                                Password is required.
                            </div>
                        </div>
                        <button class="btn btn-success customBtn w-100">Login</button>
                    </form>
                </div>
            </div>

        </div>
    </div>